html{
    font-family:"Lato", Roboto,'Helvetica Neue',sans-serif !important;
}

.bar.bar-header .button+.title {
    text-align: center;
    left: 0;
}

h3{
    padding-left:20px;
}

.independant-scroll{
    
}

.remaining-btn{
    float: right;
}

.item.item-input{
        padding: 6px 0 13px 16px;
}

.item-title{
    font-weight:bold;
    margin-right:10px;
}

.input-label{
    font-weight:bold;
}

.upcoming{
        border-right: 1px solid rgba(204, 204, 204, 0.5);
}

.upcoming-scroll{
    height: 82vh;  
}

.current-previous{
    padding:0px;
}

.current-row{
    padding:0px;
   border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.current{
    padding:10px
}

.previous-scroll{
    height: 43vh;  
}

.previous{
    padding:10px;
    padding-top:20px;
}

.error{
    color:red !important;
}

.previous{
    position:relative;
}

.send-btn{
        position: absolute;
    right: 0px;
    z-index: 999;
    top: 20px;
}

.is-today.item-complex .item-content::after{
    content: '\f2fc';
    font-family: Ionicons;
    position: absolute;
    top: 20px;
    right: 2em;
    font-size: .7em;
    background: #00BCD4;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%; 
}